.display-maximum {
    display: inherit;
}

* {
    box-sizing: border-box;
  }
  
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.columnaderecha{

  float: left;
  width: 25%;
  background-color: #ffffff;
  margin: 10px;
}

.columnaizquierda{

    float: left;
    width: 65%;


    
}